// 此自定义uView主题生成于2023-03-28 15:31
// 地址：http://www.uviewui.com/guide/theme.html

$u-type-primary: #fe2b54;
$u-type-error: #cf1322;
$u-type-warning: #fec337;
$u-type-success: #12da7d;
$u-type-info: #909399;
$u-type-primary-light: #ffb2c1;
$u-type-error-light: #f37781;
$u-type-warning-light: #ffecbe;
$u-type-success-light: #80f4be;
$u-type-info-light: #f4f4f5;
$u-type-primary-dark: #e4012d;
$u-type-error-dark: #910d18;
$u-type-warning-dark: #f0a901;
$u-type-success-dark: #0d9b59;
$u-type-info-dark: #82848a;
$u-type-primary-disabled: #fe6f8b;
$u-type-error-disabled: #ed3947;
$u-type-warning-disabled: #fed77b;
$u-type-success-disabled: #41ef9e;
$u-type-info-disabled: #c8c9cc;
$u-main-color: #333333;
$u-content-color: #666666;
$u-tips-color: #999999;
$u-light-color: #cccccc;
$u-border-color: #e4e7ed;
$u-bg-color: #f3f4f6;
$u-form-item-border-color: #dcdfe6;
$u-form-item-height: 70rpx;
